.tab-disable {
    pointer-events: none;
}
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 10px 0;
    background-image: url('./flight.jpg');
     background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
}

div.header {
    
    color: white;
    padding: 10px;
    font-size: 40px;
}


.responsive-width {
  font-size: 1vw;
  white-space: normal;
}